@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* SETTINGS DA PAGINA/LINKS/H1/P E ETC */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    min-height: 100vh;
    background: #0f0c29;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    overflow-x: hidden;
}

h1 {
    font-style: italic;
    color: rgb(118, 112, 232);
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: #ffff;
    border-radius: 50px;
    font-size: 14px;
    text-decoration: none;
    transition: opacity 150ms ease, font-weight 150ms, 0.5s;
}

a:hover {
    color: rgba(64, 121, 237, 0.751);
    opacity: 0.8;
    font-weight: 700;
    font-size:small;
    background-color: rgba(255, 255, 255, 0);
}

/* ================================
   INICIO TOP BARRA DE NAVEGACAO
   BASE = MOBILE
================================ */
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #23232e;
    height: auto;
    padding: 10px;
    position: relative;
    gap: 8px;
}

.nav-list {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 0;
    padding-right: 0;
    white-space: nowrap;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

.avatar-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar p {
    color: #ffff;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    transition: none;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    transition: 0.5s;
}

.avatar img:hover {
    width: 66px;
    height: 66px;
}

#texto-nome {
    color: #c3c2c2;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;
}

.frase {
    font-family: "Black Ops One", system-ui;
    color: #ffffff;
    font-size: 12px;
    position: static;
    transform: none;
    text-align: center;
}

/* FIM TOP BARRA DE NAVEGACAO */

/* ================================
   INICIO SETTINGS DOS CARDS
   BASE = MOBILE
================================ */
main {
    min-height: 100vh;
    width: 100%;
    padding-top: 20px;
}

main .cad-sobre-mim,
main .cad-sobre-habilidades,
main .cad-sobre-projetos,
main .cad-sobre-informacoes {
    background-color: rgba(35, 35, 46, 0.8);
    padding: 20px 15px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ffff;
}

.cad-sobre-mim,
.cad-sobre-habilidades,
.cad-sobre-projetos,
.cad-sobre-informacoes {
    min-height: 300px;
    padding: 40px 20px;
    margin: 20px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.9s;
    font-size: medium;
    text-align: justify;
}

#sobre_habilidades_card {
    text-align: center;
    font-weight: 800;
    font-size: medium;
    color: #85adad;
}

.cad-sobre-mim:hover,
.cad-sobre-habilidades:hover,
.cad-sobre-projetos:hover,
.cad-sobre-informacoes:hover {
    color: #ffff;
    border-radius: 20px;
    transition: opacity 150ms ease, font-weight 150ms, 0.5s;
}

.cad-sobre-projetos h1,
.cad-sobre-informacoes h1,
.cad-sobre-mim h1,
.cad-sobre-habilidades h1 {
    margin-top: -10px;
    margin-bottom: -50px;
    text-align: center;
}

.cad-sobre-informacoes a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 8vh;
    padding-left: 30px;
    position: relative;
    font-weight: 900;
    font-size: large;
}

.redes {
    width: 10px;
    transition: 0.5s;
}

.redes:hover {
    font-size: 15px;
}

#sobre_projetos_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px 30px;
    gap: 20px;
}

#sobre_projetos_card h1 {
    width: 100%;
    height: 100px;
    text-align: center;
}

article p {
    padding-top: 20px;
    text-align: center;
}

iframe {
    border-style: none;
    border-radius: 20px;
}

#projeto01 {
    padding-top: 1px;
}

#projeto01 iframe {
    width: 100%;
    height: 280px;
}

#projeto02 iframe {
    background-color: #ffffff;
    width: 100%;
    height: 280px;
}

.botoes {
    display: block;
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
    background: none;
    border-style: none;
}

.botoes a {
    font-size: 20px;
    color: rgb(112, 150, 153);
    transition: 0.5s;
}

.botoes a:hover {
    color: rgba(18, 207, 220, 0.524);
}

/* FIM SETTINGS DOS CARDS */

/* ================================
   INICIO RODAPÉ
================================ */
footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffff;
    background-color: #23232e;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer p {
    font-size: 14px;
    align-items: center;
    margin: 5px;
}

/* FIM RODAPÉ */

/* TABLET = 768px */
@media (min-width: 768px) {

   nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding-left: 30px;
    position: relative;
}
    .nav-list {
    list-style: none;
    display: flex;
}

    .nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
    padding-right: 15px;
    white-space: nowrap;
}

    .frase {
        position:relative;
        left: 20%;
        transform: translateX(-48%);
        font-size: 14px;
    }

    main .cad-sobre-mim,
    main .cad-sobre-habilidades,
    main .cad-sobre-projetos,
    main .cad-sobre-informacoes {
        margin-left: 50px;
        margin-right: 50px;
        padding: 40px 60px;
    }

    .cad-sobre-mim,
    .cad-sobre-habilidades,
    .cad-sobre-projetos,
    .cad-sobre-informacoes {
        padding: 50px 60px;
        margin: 30px auto;
        font-size: large;
    }

    #sobre_projetos_card {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 30px 40px;
    }

    #projeto01 iframe {
        width: 380px;
        height: 380px;
    }

    #projeto02 iframe {
        width: 380px;
        height: 380px;
    }
    a:hover {
    color: rgba(64, 121, 237, 0.751);
    opacity: 0.8;
    font-weight: 700;
    font-size:medium;
    background-color: rgba(255, 255, 255, 0);
}
}

/* ================================
   DESKTOP = 1024px+
================================ */
@media (min-width: 1024px) {
    nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 8vh;
        padding-left: 30px;
        position: relative;
}

    .nav-list {
        justify-content: end;
        margin: 10px;
        list-style: none;
        display: flex;
    }

    .nav-list li {
        letter-spacing: 2px;
        margin-left: 3px;
        padding-right: 1px;
        white-space: nowrap;
    }

    .avatar {
        display: flex;
        align-items: center;
        gap: 10px;
        white-space: nowrap;
    }   

    .avatar-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .avatar p {
        color: #ffff;
        font-size: medium;
        font-style: italic;
        font-size: 14px;
        font-weight: bold;
        transition: none;
    }

    .avatar img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        vertical-align: middle;
        transition: 0.5s;
    }

    .avatar img:hover {
        width: 66px;
        height: 66px;
    }

    #texto-nome {
        color: #c3c2c2;
        white-space: nowrap;
        text-decoration: none;
        font-size: 30px;
        font-weight: 400;
        font-family: "Bebas Neue", sans-serif;
    }

    .frase {
        font-family: "Black Ops One", system-ui;
        color: #ffffff;
        font-size: 14px;
        position: absolute;
        left: 42%;
        transform: translateX(-48%);
    }
    main .cad-sobre-mim,
    main .cad-sobre-habilidades,
    main .cad-sobre-projetos,
    main .cad-sobre-informacoes {
        margin-left: 100px;
        margin-right: 100px;
        padding: 20px 20px;
    }

    .cad-sobre-mim,
    .cad-sobre-habilidades,
    .cad-sobre-projetos,
    .cad-sobre-informacoes {
        padding: 70px 100px;
        margin: 40px auto;
        font-size: large;
    }

    #sobre_projetos_card {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 60px 60px;
    }

    #projeto01 iframe {
        width: 500px;
        height: 500px;
    }

    #projeto02 iframe {
        width: 500px;
        height: 500px;
    }

    footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffff;
    background-color: #23232e;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    }

    footer p {
        font-size: 14px;
        margin: 5px;
    }

    a:hover {
    font-size:medium;
}
}